/* MAIN CONTAINER */
#play-content {
    background-color: rgba(207, 221, 253, 0.585);
    width: 40vw;
    height: 36vh;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 0 10px #000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 12px;
    gap: 20px;
}

/* ---------------------- Pokemon Select --------------------- */
.top-section {
    width: 89%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 7%;
    padding: 10px;
    border-radius: 10px;
    transition: all 500ms ease
}

.show {
    display:block;
}

.hide {
    display:none;
}

/* TOP SECTION (input + button) */
.top-section.blue {
    background-color: rgba(79, 138, 255, 0.971); 
}

.top-section.red {
    background-color: rgba(255, 82, 79, 0.971);
}

.left-side {
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 0 0 5px #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    height: 33.3vh;
    width: 15vw;
}

.container-moves {
    width: 75%;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    padding: 0px;
    gap: 7px;
    border-radius: 10px;
    height: 100%;
}

.middle-side {
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 0 0 5px #000;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5vw;
    gap: 14px;
    border-radius: 10px;
    height: 34vh;
}

/* INPUTS */
.input-pokemon,
.input-type,
.input-move {
    background-color: #131313;
    color: #fff;
    border: 1px solid #2a2a2a;
    border-radius: 8px;
    outline: none;
    font-size: 16px;
    padding: 8px;
    transition: all 0.2s ease;
}

.input-pokemon {
    width: 100%;
}

.input-type {
    text-align: center;
    width: 13.88vw;
    height: 3vh; 
}

.input-move {
    height: 50%;
    width: 120%;
}

input::placeholder {
    color: #667;
}

input:focus {
    background-color: #292929;
}

/* SEARCH BUTTON */
#button-search {
    padding: 0 16px;
    border-radius: 12px;
    cursor: pointer;
    color: rgb(27, 27, 27);
    transition: 200ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#button-search:hover {
    background-color: #e9e9e9;
}

/* IMAGE WRAPPER */
.image-wrapper {
    margin-top: -2%;
    background-color: #131313;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    overflow: hidden;
    height: 27vh;
    width: 15vw;
}

.image-pokemon {
    height: 55%;
    object-fit: contain;
}

.stats-content {
    background-color: rgba(255, 255, 255, 0.71);
    box-shadow: 0 0 6px #000;
    display:flex;
    flex-direction: column;
    border-radius: 6px;
    width: 20%;
    padding: 8px;
}

.individual-stat {
    color: #1c1c1c;
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* LEFT + RIGHT ALIGN */
    align-items: center;
    padding: 11px;
    height: 2.65vh;
    border-radius: 8px;
    transition: all 150ms ease;
    user-select: none;
    font-weight: bolder;
    font-size: 1.1rem;
}

.individual-stat:hover {
    cursor: pointer;
    background-color: rgb(246, 244, 244);
}

/* ---------------------- DROP DOWN --------------------- */
.dropdown {
    position: absolute;
    top: 96%;
    left: 8%;
    background: #1c1c1c;
    width: 118%;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 10;
}

.dropdown-item {
    padding: 8px 10px;
    cursor: pointer;
    color: white;
}

.dropdown-item:hover {
    background: #333;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* ---------------------- PLAY PAGE --------------------- */

.pokemon-info {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

#pok-spacer {
    margin-top: -5%;
}

/* BOTTOM SPACING FIX */
.bottom-content {
    height: 40px;
}
